@inject NavigationManager NavigationManager

<div class="top-bar">
    <NavLink href="/" Match="NavLinkMatch.All" class="logo">
        <img src="img/logo.svg" />
    </NavLink>

    <NavLink href="/" Match="NavLinkMatch.All" class="nav-tab">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" Match="NavLinkMatch.All" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</div>